@font-face {
	font-family: Montserrat;
	src: url(../fonts/montserrat-regular-webfont.ttf),
		 url(../fonts/montserrat-regular-webfont.svg),
		 url(../fonts/montserrat-regular-webfont.woff);
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: Montserrat;
	src: url(../fonts/montserrat-bold-webfont.ttf),
		 url(../fonts/montserrat-bold-webfont.svg),
		 url(../fonts/montserrat-bold-webfont.woff);
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: Quicksand;
	src: url(../fonts/quicksand-regular-webfont.ttf),
		 url(../fonts/quicksand-regular-webfont.svg),
		 url(../fonts/quicksand-regular-webfont.woff);
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: Quicksand;
	src: url(../fonts/quicksand-bold-webfont.ttf),
		 url(../fonts/quicksand-bold-webfont.svg),
		 url(../fonts/quicksand-bold-webfont.woff);
	font-style: normal;
	font-weight: 700;
}
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
         local('MaterialIcons-Regular'),
         url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
         url(../fonts/MaterialIcons-Regular.woff) format('woff'),
         url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }


body {
font-family: Montserrat;
font-style: normal;
font-weight: 400;
background-color: #E5E5E5;
}

/*заголовок h1 сайта*/
h1 .heading {
font-size: 24px;
line-height: 30px;
color: #1F2041;
font-weight: 700;
font-family: Quicksand;
font-style: normal;
}
/*заголовок h2 сайта*/
h2.heading { 
font-size: 19px;
line-height: 24px;
color: #1F2041;
font-weight: 700;
font-family: Quicksand;
}
/*заголовок h3 сайта*/
h3.heading { 
font-size: 12px;
line-height: 15px;
color: #1F2041;
text-transform: uppercase;
font-weight: 700;
font-family: Montserrat;
}
/*основной текст сайта*/
.text_body { 
font-size: 14px;
line-height: 24px;
color: rgba(31, 32, 65, 0.75);
font-weight: 400;
}

.cards__container {
width: 380px;
line-height: 30px;

}
.selection-room {
display: flex;
padding-left: 30px;
height: 374px;
background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.12);
box-sizing: border-box;
box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
border-radius: 4px;

}
.column_header {
width: 320px;
}

.date_fields {
    display: inline-block;
}

.arrival_date_field input[type="text"],
.exit_date_field input[type="text"],
.guests_field input[type="text"]
 {
  font: inherit;
  color:  rgba(31, 32, 65, 0.75);;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  box-sizing: border-box;
  height: 44px;
}

.arrival_date_field input[type="text"],
.exit_date_field input[type="text"] {
    width: 150px;
}

.arrival_date_field input[type="text"]::after {
font-family: "Material Icons";
content: '\e313';
-webkit-font-feature-settings: 'liga';
color: rgba(31, 32, 65, 0.5);
font-size: 24px;
line-height: 24px;
}

.arrival_date_field {
   
}

