@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(../fonts/MaterialIcons-Regular.woff) format('woff'),
    url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

body {
max-width: 1920px;
background: #E5E5E5;
}
  
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
  
  
.logo__toxin {
  background-image: url("\logo_toxin.svg");
  width: 48px;
  height: 48px;
}
  
.logo__toxin_margin_30 {
margin: 30px;
}

.cards {
display: flex;
flex-direction: row;
}

.card-row {
margin-bottom: 40px;
margin-right: 40px;
}

.popup {
width: 380px;
min-height: 374px;
background-color:white;
box-shadow: 0px 0px 25px, 
            rgba(0, 0, 0, 0.2);
border-radius: 4px;
border: 1px solid rgba(0, 0, 0, 0.12);
}


/*background: linear-gradient(180deg, #bc9cff 0%, #8BA4F9 100%);*/
.selection-room-form {

}

.register-form {

}

.reservation-form {

}

.login {

}

.calendar-form {
width: 320px;
min-height: 369px;
background: #FFFFFF;
border: 1px solid rgba(31, 32, 65, 0.25);
box-sizing: border-box;
box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
border-radius: 4px;
}

.room-preview {
min-width: 270px;
min-height: 257px;
} 

@media only screen and (max-width: 950px) {
  .cards { 
    display: block;
  
    background-color: #15cc34;
  }
}

/*
.cards__container {
width: 380px;
line-height: 30px;

}
.selection-room {
display: flex;
padding-left: 30px;
height: 374px;
background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.12);
box-sizing: border-box;
box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
border-radius: 4px;

}
.column_header {
width: 320px;
}

.date_fields {
    display: inline-block;
}

.arrival_date_field input[type="text"],
.exit_date_field input[type="text"],
.guests_field input[type="text"]
 {
  font: inherit;
  color:  rgba(31, 32, 65, 0.75);;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  box-sizing: border-box;
  height: 44px;
}

.arrival_date_field input[type="text"],
.exit_date_field input[type="text"] {
    width: 150px;
}

.arrival_date_field input[type="text"]::after {
font-family: "Material Icons";
content: '\e313';
-webkit-font-feature-settings: 'liga';
color: rgba(31, 32, 65, 0.5);
font-size: 24px;
line-height: 24px;
}

.arrival_date_field {
   
}

*/