body {
max-width: 1920px;
}
  
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
  
.logo__toxin {
  background-image: url("\logo_toxin.svg");
  width: 48px;
  height: 48px;
}
  
.logo__toxin_margin_30 {
margin: 30px;
}


/*
@mixin icon($types) {
	@each $type in $types {
		.dropdown-date__min &[type=#{$type}] {
			@content;
		}
	}
}
input {
	@include icon(text); 
    &::after {
          
      left: 100px;
      @include material-icons;
      @include icon-arrow;
      z-index: 10;
      content: "keyboard_arrow_down";
      content: "+";
      color: $color_shade50;
      background-color: green;
      border: 1px solid red;
    }
	}
*/

