@import "../colors.scss";
@import "../fonts.scss";

.form-element__check-button_heading{
  display: flex;  
  align-items: center;
}
.checkbox-buttons {
  min-width: 192px;
  max-width: 266px;
  border: 1px solid blue;
  &__list_heading {
  padding-top: 14px;
  padding-bottom: 15px;

  }
  &__list-items {
    min-width: 266px;
    height: 44px;
    position: relative;
    padding-right: 44px;
    cursor: pointer;
   /* &:before {
      position: absolute;
      left: 220px;
      @include material-icons;
      @include icon-arrow;
      z-index: 5;
      content: "keyboard_arrow_down";
      color: $color_shade50;
    }*/
    /*&:hover:before {
      position: absolute;
      left: 220px;
      @include material-icons;
      @include icon-arrow;
      z-index: 5;
      content: "keyboard_arrow_up";
      color: $color_shade50;
    }*/
  }
}
.material-icon__arrow_down {
  position: absolute;
  left: 220px; 
  z-index: 5;  
  color: $color_shade50;  
}
.material-icon__arrow_up {
  position: absolute;
  left: 220px; 
  z-index: 5;
  color: $color_shade50; 
}
  
.checkbox-buttons__list-item {
  position: absolute;
  z-index: 10;
  display: none;
}
/*.checkbox-buttons__list-items:hover > .checkbox-buttons__list-item {
  display: block;
}*/

.showblock{
  display: block;
}
//checkbox
//--------------------------------------------------------------
.option-check {
  display: block;
  margin-bottom: 13px;
}

.check {
  padding-left: 20px;
    &__input {
      position: absolute;
      width: 1px;
      height: 1px;
      overflow: hidden;
      clip: (0 0 0 0);
    }

    &__box {
      position: absolute;
      margin-top: 0px;
      margin-left: -20px;
      /* Primary Color */
      width: 20px;
      height: 20px;
      background: #FFFFFF;
      border: 1px solid #BC9CFF;
      box-sizing: border-box;
      border-radius: 4px;
    }
    &__box-point {
      position: absolute;
      margin-top: 0px;
      margin-left: -20px;
      width: 10.43px;
      height: 10px;
      border-radius: 10px;
      background: rgba(31, 32, 65, 0.25);
    }
    &__text {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      line-height: 18px; 
    }
    &__text_color_dark-shade75 {
      color: $color_dark-shade75;
    }
    &__text_color_shade50 {
      color: $color_shade50;
    }
    &__input:checked + &__box {
    fill: white;
    background: url("/checked.svg") center no-repeat;
    }
}

