@import "../colors.scss";
@import "../fonts.scss";
@import "text-fields.scss";

.dropdown {
  position: relative;
  max-width: 320px;
  &__field {
    margin-bottom: 23px;
  }
}

.dropdown__select {
  position: relative;
  @include input-form;
  padding-right: 44px;
  color: $color_dark-shade75;
    &::after {
      left: 273px;
      @include material-icons;
      @include icon-arrow;
      z-index: 4;
      content: "keyboard_arrow_down";
      color: $color_shade50;
    }
}