@import "../colors.scss";
@import "../fonts.scss";
@import "text-fields.scss";

.dropdown {
  position: relative;
  max-width: 320px;
}
.dropdown__field {
  margin-bottom: 23px;
}
.dropdown__select {
  position: relative;
  @include input-form;
  
  max-width: 320px;
  padding-right: 44px;
    &::after {
      left: 273px;
      @include material-icons;
      @include icon-arrow;
      z-index: 4;
      content: "keyboard_arrow_down";
      color: $color_shade50;
    }

}