@import "../colors.scss";
@import "../fonts.scss";

//* rating button
$stars: 5;
$star-size: 24px;
$star-spacing: 2px;
$star-color: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);

.rate-button {
	width: ($star-size * $stars) + ($star-spacing * ($stars - 1));
	height: $star-size;
	label {
		float: right;
		position: relative;
		width: $star-size;
		height: $star-size;
		cursor: pointer;
		&:not(:first-of-type) {
			padding-right: $star-spacing;
		}
		&:before {
      @include material-icons;
			content: "star_border";
			font-size: $star-size;
      background: $star-color;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
		}
	}
	
	input {
		display: none;
	}
	
	input:checked ~ label:before,
	input:not(:checked) > label:hover:before,
	input:not(:checked) > label:hover ~ label:before {
    content: "star";
    background: $star-color;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	}
}

.rate-button__all-colors {
  @extend .rate-button;
}

