@import "../colors.scss";
@import "../fonts.scss";

 //text field, masked text field
//--------------------------------------------------------------

/*TODO поменять !default*/
/*TODO сделать отдельно &__элемент !!*/
@mixin input-form {
    padding-left: 15px;
    max-width: 320px;
    width: 100%;
    height: 44px;
    font-size: 14px;
    line-height: 44px;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid $color_light-shade25;
    text-overflow: ellipsis;
     &:hover {
      outline: none;
      color: $color_dark-shade75;
      border: 1px solid $color_shade50;
     }
     &:focus {
      outline: none;
      color: $color_dark-shade75;
      border: 1px solid $color_shade50;
     }
  }
.text-field {
  &__label {
    display: block;
  }
  &__input {
    @include input-form;
    color: $color_light-shade25;
  }
}
  .text-field__input_focus {
    color: $color_dark-shade75;
    border: 1px solid $color_shade50;
  };

  //*//subscription__input
  .text-field-subscription {
    &__input_width_266px {
      @include input-form;
      max-width: 266px;
      padding-right: 44px;
    }
    &__input {
      position: relative;
      &:before {
        left: 220px;
        @include material-icons;
        @include icon-arrow;
        z-index: 10;
        content: "arrow_forward";
        background: linear-gradient(to bottom, $color_purple 0%, #8BA4F9 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }   
    }
  }
  