@import "colors.scss";
@import "fonts.scss";
.btn {
    width: 100%;
    min-width: 196px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  padding: 9px 20px;
  
  
    background: linear-gradient(180deg, $color_purple 0%, #8BA4F9 100%);
    border-radius: 22px;
    border: none;
    color: #FFFFFF;
  
    
    border: none;  
    text-align: left;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    text-transform: uppercase;
    height: max-content;
  
    [data-icon] {
        text-align: right;
        padding-left: 10px;
        &:before { content: attr(data-icon); }
    }
  }
  
  .button__text {
    text-align: center;
    width: 100%;
  }


  .filter-date__position:before {

	@include material-icons;
	content: "keyboard_arrow_down";
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 105px;
	top: 15px;
	z-index: 2;
	width: 44px;
	height: 44px;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 24px;
	text-align: center;
	color:  rgba(31, 32, 65, 0.5);
	cursor: pointer;
	border: 1px solid red;
  }

.dropdown__position:before {
	@include material-icons;
	content: "keyboard_arrow_down";
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 275px;
	top: 15px;
	z-index: 2;
	width: 44px;
	height: 44px;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 24px;
	text-align: center;
	color:  rgba(31, 32, 65, 0.5);
	cursor: pointer;
	border: 1px solid red;
}


