@import "colors.scss";
@font-face {
	font-family: Montserrat;
	src: url(/fonts/montserrat-regular-webfont.ttf),
		 url(/fonts/montserrat-regular-webfont.svg),
		 url(/fonts/montserrat-regular-webfont.woff);
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: Montserrat;
	src: url(/fonts/montserrat-bold-webfont.ttf),
		 url(/fonts/montserrat-bold-webfont.svg),
		 url(/fonts/montserrat-bold-webfont.woff);
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: Quicksand;
	src: url(/fonts/quicksand-regular-webfont.ttf),
		 url(/fonts/quicksand-regular-webfont.svg),
		 url(/fonts/quicksand-regular-webfont.woff);
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: Quicksand;
	src: url(/fonts/quicksand-bold-webfont.ttf),
		 url(/fonts/quicksand-bold-webfont.svg),
		 url(/fonts/quicksand-bold-webfont.woff);
	font-style: normal;
	font-weight: 700;
}

@mixin type__text_h1 {
font-family: Quicksand, "Open Sans", Arial, sans-serif;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 30px;
}

.type__text_h1 {
	@include type__text_h1;
} 

@mixin type__text_h2 {
font-family: Quicksand, "Open Sans", Arial, sans-serif;
font-style: normal;
font-weight: bold;
font-size: 19px;
line-height: 24px;
}

.type__text_h2 {
	@include type__text_h2;
} 

@mixin type__text_h3 {
font-family: Montserrat, Arial, Helvetica, sans-serif;
font-style: normal;
font-size: 12px;
/*line-height: 15px;*/ //*TODO пересмотреть сей момент! тк в кнопках высота задана сиим параметром!!!
text-transform: uppercase;
}

.type__text_h3 {
	font-family: Montserrat, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
} 

@mixin type__text_body {
font-family: Montserrat, Arial, Helvetica, sans-serif;
font-style: normal;
font-size: 14px;
}
//*TODO разобраться с line-height и color
.type__text_body {
	@include type__text_body;
	font-weight: normal;
	line-height: 24px;
} 

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
	src: local('Material Icons'),
	  local('MaterialIcons-Regular'),
	  url(/fonts/MaterialIcons-Regular.woff2) format('woff2'),
	  url(/fonts/MaterialIcons-Regular.woff) format('woff'),
	  url(/fonts/MaterialIcons-Regular.ttf) format('truetype');
  }

  @mixin material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

.material-icons {
	@include material-icons;
};

@mixin icon-arrow {
    font-family: 'Material Icons';
	position: absolute;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 44px;
	width: 44px;
	text-align: center;
	vertical-align: middle;
}
.type-text {
	font-style: normal;
	&__h1_bold {
		font-family: Quicksand, "Open Sans", Arial, sans-serif;
		font-weight: bold;
		font-style: normal;
	}
	&__h1_normal {
		font-family: Quicksand, "Open Sans", Arial, sans-serif;
		font-weight: normal;
		font-style: normal;
	}
	&__h2_bold {
		font-family: Quicksand, "Open Sans", Arial, sans-serif;	
		font-weight: bold;
		font-style: normal;
	}
	&__h2_normal {
		font-family: Quicksand, "Open Sans", Arial, sans-serif;	
		font-weight: normal;
		font-style: normal;
	}
	&__h3-bold { /*кроме цвета */
		font-family: Montserrat, Arial, Helvetica, sans-serif;
		font-style: normal;
		font-size: 12px;
		line-height: 15px;
		font-weight: bold;
		text-transform: uppercase;
		color: $color_dark-shade100;
	}
	&__h3-normal {
		font-family: Montserrat, Arial, Helvetica, sans-serif;
		font-style: normal;
		font-size: 12px;
		font-weight: normal;
	}
	&__body_bold {
		font-family: Montserrat, Arial, Helvetica, sans-serif;
		font-style: normal;
		font-weight: bold;
	}
	&__body_normal {
		font-family: Montserrat, Arial, Helvetica, sans-serif;
		font-style: normal;
		font-weight: normal;
	}
	&__size_10 {
		font-size: 10px;
	}
	&__size_12 {
		font-size: 12px;
	}
	&__size_14 {
		font-size: 14px;
	}
	&__size_19 {
		font-size: 19px;
	}
	&__size_24 {
		font-size: 24px;
	}
	/*&__color_dark-shade100 {
		color: $color_dark-shade100;
	}
	&__color_dark-shade75 {
		color: $color_dark-shade75;
	}
	&__color_shade50 {
		color: $color_shade50;
	}
	&__color_light-shade25 {
		color: $color_light-shade25;
	}
	&__color_light-shade5 {
		color: $color_light-shade5;
	}
	&__color_purple {
		color: $color_purple;
	}*/

}
