
@import "colors.scss";
@import "fonts.scss";
@import "/form_elements/text-fields.scss";

.form-elements {
  &__row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      
    };
    &__fields {
      margin-left: 140px;
    }; 
    &__check-buttons {
      margin-left: 140px;
    }
    &__buttons {
      margin-left: 140px;
    }  
};
.form-element {
  &__heading {
    margin-bottom: 5px;
  };
  &__input {
    margin-bottom: 20px;
  };
};

//checkbox-buttons общие
//--------------------------------------------------------------

.form-elements__check-buttons {
  min-width: 320px;
}
.form-elements__check-button {
  max-width: 300px;
}

.form-element__check-button_heading {
  margin-bottom: 16px;
}
.form-element__check-button-like {
  margin-bottom: 40px;
}

.form-element__check-button-row {
  margin-bottom: 40px;
}

//* buttons------------------------------------------------------------------
.form-element__button-text {
  margin-bottom: 16px;
}

.form-element__button {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 320px;

}

.form-element__button-row {
  display: flex;
  flex-direction: row;
  max-width: 320px;
  margin-bottom: 30px;
}

.form-element__button-column {
  margin-right: 20px;
}


//* pagination------------------------------------------------------------------
.form-element__button-heading {
  margin-bottom: 15px;
}
.form-element__button-pagination-description {
  margin-bottom: 40px;
}

/* 950px */
@media only screen and (max-width: 950px) {
  .form-elements__row {
      display: flex;
      flex-direction: column;
    }
  }

